@model SimlyFooball.Models.Contract

@{
    ViewBag.Title = "Usuniecie";
}

<h2>Potwierdzenie usuniecia</h2>

<h3>Na pewno chcesz usunąć informacje o kontrakcie?</h3>
<p>Jest to operacja nie zalecana. Dane będą usunięte pernamentnie a kontraków być może zostanie zakłucona</p>
<div>
    <h4>EmployeesInClub</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartContractDate)
        </dt>

      <dd>
        @Html.DisplayFor(model => model.StartContractDate)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.EndContractDate)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.EndContractDate)
      </dd>

      <dt>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.FullName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
