@model SimlyFooball.Models.Contract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeesInClub</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartContractDate)
        </dt>

      <dd>
        @Html.DisplayFor(model => model.StartContractDate)
      </dd>


      <dt>
        @Html.DisplayNameFor(model => model.EndContractDate)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.EndContractDate)
      </dd>

      <dt>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
